/**********************************************************
 FLEXBOX - the CSS tool that will make your life 10x easier
**********************************************************/


.flex-parent{
  /*display: flex;*/
}

.parent-properties{
  /*FLEX DIRECTION - DEFAULT IS ROW*/
  /*flex-direction: row-reverse;*/
  /*flex-direction: column;*/
  /*flex-direction: column-reverse;*/
  /*flex-direction: row;*/

  /*FLEX WRAP - DEFAULT IS NO WRAP*/
  /*flex-wrap: wrap;*/
  /*flex-wrap: wrap-reverse;*/
  /*flex-wrap: nowrap;*/
}

/*Lets say that together, the width of the children
is less than the width of the parent*/
.parent-properties .flex-child{
  /*width: 100px;
  margin: 10px 0;*/
}

.parent-properties{
  /*JUSTIFY CONTENT - DEFAULT IS FLEX START*/
  justify-content: flex-start;
  /*justify-content: flex-end;*/
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
}

/*What the height of the children are uneven?*/
.parent-properties > div:nth-of-type(2){
  /*height: 200px;
  padding-top: 50px;*/
}

.parent-properties{
  /*height: 300px;*/
  /*ALIGN ITEMS - DEFAULT IS STRETCH*/
  align-items: stretch;
  /*align-items: flex-start;*/
  /*align-items: flex-end;*/
  /*align-items: center;*/
  /*align-items: baseline;*/
}



.middle-child{
  /* ORDER - DEFAULT IS 1 */
  /*order: 2;*/
  /*order: -1;*/
  /*order: 1;*/
}

/* Lets say we set the width to auto*/
.child-properties{
  /* FLEX - DEFAULT IS 1 */
  /*width: auto;
  flex: 1;*/
}

.first-child{
  /*flex: 2;*/
}

.last-child{
  /*flex: 3;*/
}

/*Lets say one of the children has a different height*/
.middle-child{
  /*height: 200px;*/
}

.first-child{
  /*ALIGN SELF - DEFAULT IS AUTO (WILL ALIGN BASED ON PARENT)*/
  /*align-self: auto;*/
  /*align-self: flex-start;*/
  /*align-self: flex-end;*/
  /*align-self: center;*/
  /*align-self: stretch;*/
}
