*{
  font-family: 'Quicksand', sans-serif;
}

html, body{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.flex-parent{
  background-color:steelblue;
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
}

.flex-child{
  background-color: mediumseagreen;
  font-size: 2em;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.flex-child:first-of-type{
  background-color: indianred;
}

.flex-child:nth-of-type(2){
  background-color: coral;
}
.flex-child:last-of-type{
  background-color: orchid;
}
.flex-child:nth-of-type(3){
  background-color: gold;
}

.parent-properties{
  height: 800px;
}

header{
  background-color: mediumseagreen;
  color: white;
  padding: 20px;
}
main>img{
  margin-top: 20px;
}

h1{
  font-size: 4em;
  line-height: .5em;
}

img{
  max-width: 100%;
}

section{
  padding: 20px;
}

section>p{
  font-size: 1.2em;
}
h3{
  font-size: 1.4em;
}

p{
  max-width: 800px;
  margin: 20px auto;
}
.about{
  background-color: #ddd;
  margin-top: 20px;
}
.list-holder{
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

ul{
  text-align: left;
  flex: 1;
}
h4{
  margin: 5px;
  font-size: 1.2em;
}
ul p{
  margin: 5px;
  font-size: 1em;
}
.links{
  text-align: center;
  padding: 0;
  list-style: none;
}
a{
  color: mediumseagreen;
  padding: 5px 0;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid mediumseagreen;
  margin-bottom: 10px;
  display: inline-block;
}

a:hover{
  color: steelblue;
  border-color: steelblue;
  cursor: pointer;
}